header {
    text-align: center;
    background-color: aquamarine;
    font-size: 60px;
    font-family: fantasy;
    color: red;
}
body {
    background-color: rosybrown;
}
p {
    font-size: 40px;
    text-align: justify;
}
button {
    border-radius: 10%;
    border-color: red;
    background-color: silver;
    color: red;
    height: 50px;
    width: 100px;
    margin-left: 45%;
}